<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='rules.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
    </head>
    <body>
        <br>
        <a href="{{ url_for('main') }}" class="home-button">Home</a>
        <br>
        <h1>Пользовательское соглашение</h1>
        <p>Внимательно ознакомьтесь с условиями пользования ресурсами сайтов, расположенных на домене https://proproprogs.ru/, а также всех его поддоменах (далее – Сайт). 
        <br>Пользуясь данным Сайтом, Вы подтверждаете, что полностью принимаете следующие условия:

            <p><span class="black-text">1</span>. Сайт представляет собой программное средство, позволяющее хранить, систематизировать и транслировать содержание научно-образовательного характера.
            <p><span class="black-text">2</span>. Сайт предоставляет возможность доступа к имеющимся на нем ресурсам исключительно в ознакомительных целях.
            <p><span class="black-text">3</span>. Администрация Сайта не несет никакой ответственности за действия пользователей, связанные с использованием 
            <br>представленной на Сайте информации и не возмещает убытки.
            <p><span class="black-text">4</span>. Информация на Сайте предоставляется также путем подключения третьих сторон к содержанию – предоставлением гиперссылок, 
            <br>указателей на другие сайты, поддерживаемые третьими лицами, предоставлением содержания сторонних сайтов обрамлением (фреймингом) и другими методами.
            <p><span class="black-text">5</span>. Подключение к содержанию сторонних сайтов предоставляется исключительно для удобства и информирования. 
            <br>Ответственность за содержание сторонних сайтов лежит на их создателях.
            <p><span class="black-text">6</span>. Запрещено использовать материалы и сервисы Сайта для любых целей, которые противоречат нормам морали и нравственности, 
            <br>целям создания данного Сайта, и/или нарушают (могут нарушить) запреты, предусмотренные настоящим Соглашением, и/или нарушают 
            <br>(могут нарушить) действующее законодательство РФ об авторских правах.
            <p><span class="black-text">7</span>. Запрещено использовать услуги Сайта любым способом, служащим для целей нанесения ущерба нормальному функционированию 
            <br>Сайта (включая флудинг, DOS-атаки, ограничение доступа к Сайту третьих лиц, но не ограничиваясь ими).
            <p><span class="black-text">8</span>. Не допускаются пропаганда или агитация, возбуждающие социальную, расовую, национальную или религиозную ненависть и вражду, 
            <br>пропаганда наркотических средств, психотропных вещества, а также иные виды пропаганды, запрещенные законами Российской Федерации. 
            <br>Запрещается пропаганда социального, расового, национального, религиозного или языкового превосходств.
            <p><span class="black-text">9</span>. Администрация Сайта имеет право право в одностороннем порядке менять политику использования своего контента Пользователем и партнерами, в том числе вводить платные Услуги.<br>
            <br><b><a href="{{ url_for('contact') }}" style="color: white; background-color: #3498db">Отзывы по улучшению сервиса</a></b>    
    </body>
</html>